/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 1:52:45 PM
    Author     : admin
*/

.Container {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

.subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill:red;
    -fx-stroke-width:2;
    -fx-stroke:gold;
}

.btn {
    -fx-background-color:darkblue;
    -fx-text-fill: white;
    -fxf-font-size: 16;
    -fx-padding:8;
    -fx-pref-width:250;
}